<div class="app-borda-div">
  <p>Header</p>
  <nav>
    <a routerLink="">Alex</a>
    <a routerLink="/vehicle">Veiculo</a>
    <a routerLink="parent-data">Parent Data</a>
    <a routerLink="/directives">Diretivas</a>
    <a routerLink="if-render">If-Render</a>
    <a routerLink="/events">Eventos(click)</a>
    <a routerLink="emitter">Emitter</a>
    <a routerLink="/pipe">Pipe</a>
    <a routerLink="binding">2Way Biding</a>
    <a routerLink="/list">Lista Animais</a>
  </nav>
  <h1 class="title">Hello World, App level!</h1>
  <router-outlet></router-outlet>
  <p>footer</p>


</div>

