h1{
  font-size: 50px;
  text-align: center;
}

.title{
  background-color: black;
  color: yellow;
  padding: 15px;
}

.app-borda-div{
  border: 2px solid #f7df05; /* Uma borda sólida preta de 2px */
}
